.offerings{
  display: grid;
  text-align: start;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 50px ;
  margin-bottom: 100px;
 }

 .offer span{
  letter-spacing: -.9px;
  font-weight: 500;
  font-size:16px;
  margin:15px 0;
 }

 .offer h6{
  margin:10px 0;
 }