#video-about{
  color: white;
}

.video{
  margin-bottom: 50px;
  border-radius: 20px;
  height: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  box-sizing: border-box !important;
  overflow-y: hidden;
}

.video img{
  /* border-radius: 20px; */
  width: 100%;
}

.why{
  display: flex;
  justify-content: space-between;
}
.why-here h5{
  font-size: 20px;
  font-weight: 700;
}

.why-here{
  max-width: 570px;
}

.why-here p{
  letter-spacing: -.9px;
  font-size: 16px;
  font-weight: 600;
}