#employee{
  background: #eeecfa;
  padding: 100px 150px;
}

.emp-h{
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 40px;
}

.emp-pictures{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.emp-pic{
  width: 280px;
  height: 280px;
}

.emp-pic img{
  border-radius: 10px;
  width: 100%;
}

.we-hiring{
  display: flex;
  justify-content: space-between;
}

.hiring-h{
font-weight: 900;
letter-spacing: -1.5px;
font-size: 30px;
line-height: 36px;
}
